# Copie para .env e preencha antes de rodar docker compose up

POSTGRES_PASSWORD=@dminWedAugust26th!
JWT_SECRET_KEY=QpeP3ls3zGT29OOqv4ScRcEhpN43EeCG1bDQg31vGih
GROQ_API_KEY=sua_chave_aqui
GROQ_MODEL=openai/gpt-oss-120b
